.player {
    width: 300px;
    display: flex;
    align-items: center;

    span {
        font-size: 32px;
        margin-left: 16px;
    }

    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: orange;

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
    }

}